body{
    background-color: rgb(13, 135, 184);
    color: rgb(0, 0, 0);
}

main{
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 50px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.349);
}